

body{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Roboto, sans-serif;
  margin: 0;
  padding-right: 0rem;
  padding-left: 0rem;
  min-height: 100%;
}

.book-success{
  color: green;
  width: 20rem;
  height: 20rem;
  text-align: center;
  justify-content: center;
}

.booked{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.booking-results{
  margin: auto;
}

.booking-text{
  text-align: center;
  color: white;
  background-color: #7A79D7;
  margin-bottom: 1rem;
}

.booking-title{
  text-align: left;
}

.clinic-service-div{
  width: 9.8rem;
}



.confirm-header-footer{
  background-color: #7A79D7;
  color: white;
}

.color-nav{
  background-color: #7A79D7 ;
}

.date{
  height: 2.5rem; 
  border: 1px solid black; 
  border-radius: 5.5px;
}

.div-filter{
  position: relative;
  height: 70vh;
  width: 70vw;
  border: 2px solid black;
  margin: auto;

}

.div-filter img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.div-filter h3{
  color: blueviolet; 
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.filter-above{
  margin-top: 2rem;
}



.filters-form{
  display:flex;
  flex-direction: column;

}

.list-title{
  text-align: left;
  padding-top: 1.5rem;
  color: black;
  font-weight: bold;
}

.nav-text-title{
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-text-center{
  font-size: 1.4rem;
  margin-left: 20%;
}

.popup-result p{
  font-weight: normal;
  color: #7A79D7;
}

.popup-result h5{
  font-weight: normal;
  color:black;
}

.result-page{
  text-align: center;
  margin: auto;
  margin-top: 10rem;
  justify-content: center;
}

.result-page h4{
  font-weight: normal;
  margin-top: 1rem;
}

.text-center{
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
  color: #7A79D7;
}
















